.smallcard-container {
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 49%;
    min-width: 164px;
    border-radius: 10px;
    box-shadow: 3px 4px #000000;
}

.smallcard-container > p {
    margin-left: 10px;
    word-break: break-all;
}

.smallcard-container img {
    width: 50px;
    margin-top: 5px;
}