@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-image: url(./img/bg2.jpg);
    background-size: cover;
}

#formulario {
    border: 1px dotted black;
    padding: 10px;
    width: 80vw;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 209, 142);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    width: 100%;
    text-align: center;
    padding-right: 10px;
    margin-bottom: 10px;
}

input, textarea {
    width: 90%;
    margin-bottom: 10px;
}

button {
    width: 80px;
    height: 40px;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid rgb(77, 77, 77);
}

button:active {
    background-color: rgb(224, 51, 51);
    color: #FFF;
}

h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    line-height: 50px;
    text-align: center;
    border-bottom: 5px dotted black;
    margin-bottom: 15px;
}
h2 {
    font-size: 1.2rem;
    text-align: end;
    letter-spacing: 2px;
    line-height: 35px;
    text-decoration: underline overline;
}

p {
    text-align: justify;
    word-wrap: break-word;
    line-height: 20px;
}

.post > img {
    display: block;
    margin: 15px auto;
    width: 50%;
    border: 2px solid grey;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}